<div class="home content-container" random-color>
  <blockquote>
    <p ng-bind="random.body"></p>
    <span class="speak-arrow"></span>
    <span class="author-image">
      <img ng-src="{{ random.avatar }}" />
    </span>
  </blockquote>

  <div class="authors">
    <div class="status">
      <div class="refresh" ng-show="showRefresh" ng-click="getQuotes()">
        <span class="fa fa-refresh"></span>
      </div>
      <div class="showing">
        <div class="display" ng-click="toggleSelectionMenu()" ng-class="{ on: selectionMenuOn }">
          <span>Character:</span>
          <span class="fa fa-angle-down"></span>
        </div>
        <div class="selection-menu" ng-show="selectionMenuOn">
          <button ng-repeat="author in authors"
                  ng-click="updateAuthor(author)"
                  ng-bind="author"
                  ng-class="{ active: isCurrentAuthor(author) }"></button>
          <button ng-click="updateAuthor('')" ng-class="{ active: isCurrentAuthor('') }">All</button>
        </div>
      </div>
    </div>
  </div>

  <div class="by"><a href="http://www.gjschulte.com" target="_blank">By G.J.Schulte</a></div>
</div>

<div class="overlay"></div>
<div ng-include="'/views/loader.html'"></div>
